@import "../../styles/colors";

.image-lg {
  max-height: calc(100vh - 200px);
  max-width: calc(100vw - 400px);
}

.full-image-container {
  width: calc(100vw - 300px);
  height: calc(100vh - 200px);
  @media screen and (max-width: 992px) {
    width: 100%;
    height: 100%;
    img {
      width: 85%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.image-viewer-nav-btn {
  font-size: 1.9rem;
  color: $silver;

  &:hover {
    color: $grey;
  }
}

.images-viewer {
  max-width: unset !important;
  min-width: 850px;
  width: fit-content;
  @media screen and (max-width: 992px) {
    min-width: 100%;
    width: calc(100vw - 20px);
    margin: auto;
  }
}
