@import "../styles/colors";

.payment-page-container {
  width: 100%;
  padding: 0 210px;
  margin: auto;
  display: flex;
  flex-direction: row;
  // Ilija's work
  .page-collapse {
    display: none;
  }
  @media screen and (max-width: 992px) {
    padding: 0 10px 0 0;
  }
  @media screen and (max-width: 786px) {
    padding: 0 10px 0 30px;
    .navigation-menu {
      margin-left: -220px;
      position: fixed;
      left: 0;
      top: 44px;
      z-index: 3;
      transition: all ease-in-out .5s;
    }
    .page-collapse {
      position: fixed;
      left: 0;
      width: 30px;
      height: 60px;
      display: flex;
      z-index: 2;
      top: 35px;
      img {
        cursor: pointer;
        margin-top: 30px;
        width: 25px;
        height: 25px;
      }
    }
    .show + .navigation-menu {
      margin-left: 0;
      width: 220px;
      transition: all ease-in-out .5s;
    }
  }
  @media screen and (max-width: 600px) {
    .user-profile {
      flex-wrap: wrap;
      .pl-5 {
        padding-left: 20px !important;
      }
      .w-25 {
        width: 40% !important;
        margin-left: auto;
      }
    }
    .address-list {
      .address-item-wrapper {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .track-order-item > div:first-child {
      flex-wrap: wrap;
      .flex-mobile-row {
        flex-direction: row !important;
      }
    }
    .track-order-buttons {
      .btn {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
  @media screen and (max-width: 450px) {
    .saved-cards-container {
      .saved-upi {
        .pr-5 {
          padding-right: 1.4rem !important;
        }
      }
    }
  }
  // Ilija's work
}

.saved-card {
  border: 1px solid $credit-card-border-color;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 335px;
  height: 75px;
}

.card-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.default-card-icon {
  width: 52px;
  display: flex;
  justify-content: center;
}


.delete-btn {
  font-size: 1.2rem;
}

.card-number {
  color: $shop-name-color;
}

.expiry-date {
  color: $silver-text;
}

.selected-card {
  color: $qty-add-btn-color;
}

.non-selected-card {
  color: $silver-border;

  &:hover {
    color: $grey;
  }
}

.saved-cards-container, .wallets-container {
  display: flex;
  flex-wrap: wrap;
}

.delete-btn {
  color: $qty-minus-btn-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline !important;
  }
}

.wallet {
  width: 335px;
  height: 75px;
  border: 1px solid $credit-card-border-color;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px
}

.wallet-img {
  width: 52px;
  height: 52px;;
}

.add-payment-method-btn {
  color: $add-payment-method-color;
  background-color: $white;

  &:hover {
    background-color: $white;
    color: $add-payment-method-color;
  }
}

.saved-upi {
  border: 1px solid $credit-card-border-color;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 335px;
  height: 75px;
}

.upi-pay-img {
  width: 54px;
  height: 20px;
}
